body{
    margin: 0;
    padding: 0;
    background-color:rgb(173, 178, 180);
}
.outterContainer{
    text-align:left;
}
.innerContainer{
    width: 70%;
     margin: 0 auto;
}
.individualDiv{
    width: 95%;
    margin: 20px auto;
     color: #fff;
    background-color: blueviolet;
    border-radius:20px;
    box-shadow: 0 0 10px solid red;
    padding:20px;
}