#navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    padding-right:4%;
    border: 1px solid black;

}
.option{
    display: flex;
    justify-content: space-between;
}
.option h3{
    padding-left: 30px;
    padding-right: 10px;
}
 a{
    text-decoration: none;
    color: black;
}
.container{
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(4,24%);
    padding:2.5%;
    grid-gap:20px;

}
.container div{
box-shadow: 0 0 3px black;
text-align: center;
}
.container div img{
    width:30%;
    height:150px;
    margin-top:4%;
}